<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb" lang="zh-cn">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <title>keyup - see what you want</title>
    <meta name="description" content="Copyright http://keyup.cn">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/index.css">
    <meta property="wb:webmaster" content="baab86007eebe3db" />
</head>
<body ng-app="app" ng-controller="IndexCtrl" class="container layout">
<nav class="text-center">
    <div class="col-xs-5 nav_item nav_active">
        网址
    </div>
    <div class="col-xs-5 nav_item">
        rss
    </div>
    <div class="col-xs-2 nav_item" style="padding-top: 10px;">
        <wb:share-button type="button" count="n" size="middle"> </wb:share-button>
    </div>
</nav>
<div class="layoutLoad" ng-show="layoutLoadFlag"></div>
<div class="web_body row">
        <div class="web_block col-xs-12" ng-repeat="(key, types) in webSiteArray">
            <div class="web_block_nav col-xs-12" ng-bind="types.title"></div>
            <div class="col-xs-3" ng-repeat="item in types.items">
                <a ng-href="{{item.url}}" target="_blank" ng-bind="item.title"></a>
                <span class="web_label web_label-{{item.type}}" ng-bind="item.label"></span>
                <div class="web_block_des" ng-bind="item.des"></div>
            </div>
        </div>
</div>




<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="scripts/jquery.zrssfeed.js"></script>
<script src="https://cdn.firebase.com/js/client/2.1.0/firebase.js"></script>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=3547970683&debug=true" type="text/javascript" charset="utf-8"></script>
<script src="scripts/angular/app.js"></script>
<script src="scripts/angular/index.js"></script>

</body>
</html>