<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb" lang="zh-cn">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <title>keyup - see what you want</title>
    <meta name="description" content="Copyright http://keyup.cn">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/index.css">
    <meta property="wb:webmaster" content="baab86007eebe3db" />
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=3547970683&debug=true" type="text/javascript" charset="utf-8"></script>
</head>
<body ng-app="app" ng-controller="IndexCtrl" class="container layout">
<nav class="text-center">
    <div class="col-xs-6 nav_item" ng-class="{'nav_active':bodyActive == 'site'}" ng-click="showBody($event,'site')">
        网址
    </div>
    <div class="col-xs-6 nav_item" ng-class="{'nav_active':bodyActive == 'rss'}" ng-click="showBody($event,'rss')">
        rss
    </div>
    <!--<div class="col-xs-2 nav_item" style="padding-top: 10px;">-->
        <!--<wb:share-button type="button" count="n" size="middle"> </wb:share-button>-->
    <!--</div>-->
</nav>
<div class="layoutLoad" ng-show="layoutLoadFlag"></div>
<div class="web_body row">
        <div class="web_block col-xs-12 hide" ng-class="{'show':bodyActive == 'site'}" ng-repeat="(key, types) in webSiteArray">
            <div class="web_block_nav col-xs-12" ng-bind="types.title"></div>
            <div class="col-xs-3 web_block_item" ng-repeat="item in types.items">
                <a ng-href="{{item.url}}" target="_blank" ng-bind="item.title"></a>
                <span class="web_label web_label-{{item.type}}" ng-bind="item.label"></span>
                <div class="web_block_des" ng-bind="item.des"></div>
            </div>
        </div>
    <div id="web_block_rss" class="web_block_rss hide" ng-class="{'show':bodyActive == 'rss'}">
        <div ng-repeat="rss in rssArray">
            <div>
                <h1 class="rss_h1" ng-bind="rss.title"></h1>
                <div id="rss_block_{{$index}}">
                    加载中...
                </div>
            </div>
        </div>
    </div>
</div>




<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="scripts/jquery.zrssfeed.js"></script>
<script src="scripts/firebase.js"></script>
<script src="scripts/angular/app.js"></script>
<script src="scripts/angular/index.js"></script>

</body>
</html>