.layout {
    width: 992px;
    margin: 0px auto;
    padding: 0px;
    min-height: 600px;
}
.layoutLoad {width:80px;height:80px;position:absolute;
    top:50%;left:50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url("imgs/music.gif") no-repeat center center;
    border-radius: 5px;
}
.nav_item {height: 45px;line-height: 45px;font-weight: bold;cursor: pointer;}
.nav_item:hover {color: orangered;}
.nav_active {border-bottom: 1px orangered solid;}
.web_body {padding-top: 60px;}
.web_block_rss {
    display: none;
    padding-bottom: 50px;
}
.rss_h1 {font-size: 25px;}
.rssBody li {}
.rssBody li a {color: #000000;font-weight: normal;padding-left: 60px;}
.web_block {list-style: none;
    line-height: 20px;position: relative;
    padding-bottom: 10px;
    padding-left: 10px;}
.web_block_nav {border-left: 0px orangered solid;
    height: 25px;line-height: 25px;font-size: 14px;color: gray;
    margin-bottom: 4px;
    text-shadow: 1px 1px 1px #fefefe;}
.web_block_des {font-size: 8px;color: gray;}
.web_label {padding: 0px 0px;margin:0px 3px;background-color: #0d3349;color: #ffffff;border-radius: 2px;font-size: 4px;}
.web_label-news {background-color: #006DAF;color: #ffffff;}
.web_label-fontEnd {background-color: #2b542c;color: #ffffff;}
.web_label-book {background-color: gray;color: #ffffff;}
.web_label-discover {background-color: #3c763d;color: #ffffff;}
.web_label-tool {background-color: #11866f;color: #ffffff;}
.web_label-css {background-color: #0d3349;color: #ffffff;}
.web_label-rss {background-color: #0d3349;color: #ffffff;}
.web_label-js {background-color: #0d3349;color: #ffffff;}


