<div ng-controller="WelcomeCtrl" class="container layout">
    <!--<div class="col-xs-2 category">-->
        <!--<div class="category_head text-center">My shelf</div>-->
        <!--<div class="category_body">-->
            <!--<div class="category_everyDay">保持前行</div>-->
            <!--<div class="category_item">新闻</div>-->
            <!--<div class="category_item">RSS订阅</div>-->
            <!--<div class="category_item">微博</div>-->
            <!--<div class="category_item">其它</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="col-xs-3 summary">
        <div class="category_head text-center">My shelf</div>
        <div class="summary_head">
            <!--<button type="button" class="btn btn-primary">-->
                <!--上一页-->
            <!--</button>-->
            <!--<button type="button" class="btn btn-primary">-->
                <!--下一页-->
            <!--</button>-->
            <div class="category_item category_item_active">新闻</div>
            <div class="category_item">RSS订阅</div>
            <div class="category_item">微博</div>
        </div>
        <div class="summary_body">
            <div class="summary_item">
                <div class="summary_title">标题</div>
                <div class="summary_con">内容</div>
            </div>
            <div class="summary_item">

            </div>
            <div class="summary_item">

            </div>
            <div class="summary_item">

            </div>
        </div>
    </div>
    <div class="col-xs-9 content">
        <div class="content_head text-right">
            <button type="button" class="btn btn-primary">
                原文
            </button>
            <button type="button" class="btn btn-primary">
                分享
            </button>
        </div>
        <div class="content_body">
            <iframe src="http://javascript.ruanyifeng.com/" style="width: 100%;height: calc(100% - 76px);border: none;"></iframe>
        </div>
    </div>
</div>

